*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.answer-button, .back-btn, .next-btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: #FCEE6F;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.answer-button:hover{
    border-color: black;
}

.answer-button.correct{
    --hue: var(--hue-correct);
    border-width: medium;
}

.answer-button.wrong{
    --hue: var(--hue-wrong);
    border-width: medium;
}
